{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1> {{ 'answers.list.title'|trans }}</h1>
    <button class="add"><a href="{{ url('answers-add') }}" title="add">Add</a></button>
    {% for type, messages in app.session.flashbag.all %}
        <div class="alert alert-{{ type }}" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    {% if data|length %}
        <table>
        <tr>
            <th>Answer Name </th>
            <th>Actions</th>
        </tr>
        {% for row in data %}
                <tr>
                    <td>{{ row.content }}</td>
                    <td>
                        <a href="{{ url('answers-view', { 'id' : row.id }) }}" title="view">view</a><br/>
                        <a href="{{ url('answers-edit', { 'id' : row.id }) }}" title="edit">edit</a><br/>
                        <a href="{{ url('answers-delete', { 'id' : row.id }) }}" title="delete">delete</a>
                    </td>
                </tr>
        {%  endfor %}
        </table>
    {% else %}
        <div> No data, sorry!</div>
    {% endif %}
{% endblock %}

