{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <a href="{{ url('answers') }}" title="answers">&lt;- Back to answers list</a>
    <h1> Answer Details</h1>
    {% if data|length %}
        <table>
            <tr>
                <th>Question title</th>
                <th>Answer</th>
                <th>Date</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == data.user.id %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            <tr class="colored">
                <td>
                    {# {% for row in questions %} #}
                        {{ question.title }}
                    {# {% endfor %} #}
                </td>
                <td>{{ data.content }}</td>
                <td>{{ data.date|date('d.m.Y') }}</td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == data.user.id %}
                    <td>
                        <a href="{{ url('answers-edit', { 'id' : data.id }) }}" title="edit">edit</a><br/>
                        <a href="{{ url('answers-delete', { 'id' : data.id }) }}" title="delete">delete</a>
                    </td>
                {% endif %}
            </tr>
        </table>
    {% else %}
        <div> No data, sorry!</div>
    {% endif %}
</div>
{% endblock %}
