{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <a href="{{ url('answers') }}" title="answers">&lt;- {{'list.back'|trans}}</a>
    {% for type, messages in app.session.flashbag.all %}
        <div class="alert alert-{{ type }}" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    <h1> {{'answer'|trans}} {{'details'|trans}}</h1>
    {% if data|length %}
        <table>
            <tr>
                <th>{{'title'|trans}}</th>
                <th>{{'answer'|trans}}</th>
                <th>{{'date'|trans}}</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == data.user.id %}
                    <th>{{'actions'|trans}}</th>
                {% endif %}
            </tr>
            <tr class="colored">
                <td>
                    {# {% for row in questions %} #}
                        <a href="{{ url('questions-view', { 'id' : question.id }) }}" title="view">
                            {{ question.title }}
                        </a>
                    {# {% endfor %} #}
                </td>
                <td>{{ data.content }}</td>
                <td>{{ data.date|date('d.m.Y') }}</td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == data.user.id %}
                    <td>
                        {#<a href="{{ url('answers-edit', { 'id' : data.id }) }}" title="edit">{{'edit'|trans}}</a><br/>#}
                        <a href="{{ url('answers-delete', { 'id' : data.id }) }}" title="delete">{{'delete'|trans}} {{'answer'|trans}}</a>
                    </td>
                {% endif %}
            </tr>
        </table>
    {% else %}
        <div> {{'data.no'|trans}}</div>
    {% endif %}
</div>
{% endblock %}
