{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('fos_user_profile_show') }}" title="Profile">&lt;- {{'back'|trans}}</a>
        {% for type, messages in app.session.flashbag.all %}
            <div class="alert alert-{{ type }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </form>
    </div>
{% endblock body %}