{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{'profile'|trans }}</h1>
        {% for type, messages in app.session.flashbag.all %}
            <div class="alert alert-{{ type }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="fos_user_user_show bordered">
            <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: <strong>{{ user.username }}</strong></p>
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: <strong>{{ user.email }}</strong></p>
        
            <button><a href="{{ path('fos_user_change_password') }}" title="Change password">
                {{'password.change'|trans}}
            </a></button>
            <button><a href="{{ path('fos_user_profile_edit') }}">
                {{'edit'|trans}} {{'profile'|trans}}
            </a></button>
            <button><a href="{{ url('user-questions') }}" title="myquestions">{{'check'|trans}} {{'questions'|trans}}</a></button>
            <button><a href="{{ url('user-answers') }}" title="myanswers">{{'check'|trans}} {{'answers'|trans}}</a></button>
        </div>
    </div>
{% endblock body %}
