<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}Q&A serwis{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' '@AppBundle/Resources/public/css/*' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/business-and-finance-41/100/question_quiz_mark_bubble_ask_qa-128.png">
</head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url('tags') }}" title="Tags">{{ 'tags'|trans }}</a></li>
                <li><a href="{{ url('categories') }}" title="Categories">{{ 'categories'|trans }}</a></li>
                <li><a href="{{ url('questions') }}" title="Questions">{{ 'questions'|trans }}</a></li>
                <li><a href="{{ url('answers') }}" title="Answers">{{ 'answers'|trans }}</a></li>
            </ul>
            <span class="right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <p>
                        {{ 'logged.in'|trans }} 
                        <a href="{{ path('fos_user_profile_show') }}" title="Profile">
                            {{ app.user.username }}
                        </a>
                        <a href="{{ url('logout') }}" title="Logout">| {{ 'log.out'|trans }}</a>
                    </p>
                {% else %}
                    <a href="{{ path('fos_user_registration_register') }}" title="Register">{{ 'register'|trans }}</a> or
                    <a href="{{ url('login') }}" title="Login">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </span>
        </nav>
        <div class="clear"></div>

        {#<div class="container"> #}
            {% block body %}{% endblock %}
        {#</div>#}

        {% block javascripts %}
            {% javascripts '@jquery' '@bootstrap_js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>