{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container list">
    <h1> {{ 'list'|trans }} {{ 'categories.bier'|trans }}</h1>
    <button class="add"><a href="{{ url('categories-add') }}" title="add">{{ 'add'|trans }}</a></button>
    <div class="clear"></div>
    {% for type, messages in app.session.flashbag.all %}
        <div class="alert alert-{{ type }}" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    {% if data|length %}
        {% for row in data %}
            <div class="bordered col-sm-4 colored">
                <p>
                    <button><a href="{{ url('categories-view', { 'id' : row.id }) }}" title="view">{{ 'view'|trans }}</a></button>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <button><a href="{{ url('categories-delete', { 'id' : row.id }) }}" title="delete">{{ 'delete'|trans }}</a></button>
                        <button><a href="{{ url('categories-edit', { 'id' : row.id }) }}" title="edit">{{ 'edit'|trans }}</a></button>
                    {% endif %}
                    <strong>{{ row.name }}</strong><br/>
                    <small>{{ row.description }}</small>
                </p>

                <div class="clear"></div>
                {% if row.questions|length %}
                    <ul class="bordered">
                        {% for q in row.questions %}
                            {% if loop.index != 4 %}
                                <li>
                                    <a href="{{ url('questions-view', { 'id' : q.id }) }}" title="view">
                                        {{q.title}}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <a href="{{ url('categories-view', { 'id' : row.id }) }}" title="view">Check more questions -></a>
                {% else %}
                    <p class="bordered"> No questions in this category yet.</p>
                {% endif %}
            </div>
        {% endfor %}

    {% else %}
        <div> No data, sorry!</div>
    {% endif %}
</div>
{% endblock %}

