{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <a href="{{ url('tags') }}" title="tags">&lt; {{ 'list.back'|trans }}</a>
    {% for type, messages in app.session.flashbag.all %}
        <div class="alert alert-{{ type }}" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endfor %}
    {% if data|length %}
        <h1> {{ data.name }}{{ 'details'|trans }}</h1>
        <table>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <th>{{'tagged'|trans}} {{'questions'|trans}}</th>
            </tr>
            <tr>
                <td>{{ data.name }}</td>
                <td>
                    {% if data.questions|length %}
                        <ul>
                        {% for row in data.questions %}
                            <li>
                                <a href="{{ url('questions-view', { 'id' : row.id }) }}" title="view">
                                    {{ row.title }}
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        </table>
    {% else %}
        <div> {{ 'data.no'|trans }}</div>
    {% endif %}
</div>
{% endblock %}
